*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{

    overflow-x: hidden;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

/***************************** Transition Start ******************************/
.company-name{
    animation: transitionIn 1.5s;
}

.contact--container{
    animation: transitionIn 1.5s;
}

.about--us{
    animation: transitionIn 1.5s;
}

.portfolio-page{
    animation: transitionIn 1.5s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);

    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/**************************** Transition end ******************************/

/************************ Header Start **************************/
ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

a:hover{
    color: #e00000 !important;
}

.navbar{
    position: relative;
}

.navbar ul li{
    position: relative;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.navbar ul li a{
    position: relative;
    display: block;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    color: white;

}



/******************************** Header End *********************************/

/********************************* Homepage **********************************/
.homepage-footer{
    text-align: left;
    padding-left: 25vh;
    padding-top: 40vh;
    color: rgb(20, 20, 20);
}


.company-name{
    text-align: left;
    padding-left: 25vh;
    margin-top: 30vh;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411); */
    color: rgb(20, 20, 20);
}

.hompage-title{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 450;
}

.homepage-subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 15px;
    
    
}
/**************************************** End of Homepage *************************************/

/**************************************** About Us page start**************************************/
.about--us{
    
    text-align: left;
    padding-left: 20vh;
    margin-top: 15vh;
    
}

.about-us-h1{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 300;
}

.about-us-p{
    position: relative;
    margin-left: 10vh;
    inline-size: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;


}


.about-us-image{
    position: absolute;
    margin-left: 115vh;
    margin-top: -47vh;
    width: 450px;
    height: 600px;
    object-fit: cover;
}


.about-us-footer{
    text-align: left;
    padding-left: 25vh;
    padding-top: 24.5vh;
}

/************************************ about us page end *****************************/

/*********************************** portfolio page start *****************************/

.portfolio-images{
    display: inline-block;
    margin-left: 35vh;
    margin-right: auto;

}

.photography:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.7s;
}

.marketing:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.7s;
}

.logo:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.7s;
}

.photography{
    margin-left: 10vh;
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.marketing{
    margin-left: 10vh;
    width: 300px;
    height: 500px;
    object-fit: cover;
    
    
}

.logo{
    margin-left: 10vh;
    width: 300px;
    height: 500px;
    object-fit: cover;
    

}

.recent-projects{
    position: relative;
    padding-top: 2vh;
    margin-left: 10vh;
    /* inline-size: 500px; */
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 400;
    
}

.portfolio--photography{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 2vh;
    margin-left: 42vh;
    margin-right: auto;
    font-size: 20px;
}

.portfolio--marketing{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 2vh;
    margin-left: 24.5vh;
    margin-right: auto;
    font-size: 20px;
}

.portfolio--logo{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 2vh;
    margin-left: 17.5vh;
    margin-right: auto;
    font-size: 20px;
}

.photography--page{
    position: relative;
    padding-top: 2vh;
    margin-left: 10vh;
    /* inline-size: 500px; */
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.project-footer{
    text-align: left;
    padding-left: 25vh;
    padding-top: 14vh;
}

/********************************** portfolio page end ****************************/

/********************************* Contact Us Page Start ****************************/

.contact-title{
    position: relative;
    text-align: left;
    padding-top: 30vh;
    margin-left: 20vh;
}

.contact-title-h3{
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-left: 5vh;
}



form{
    position: absolute;
    margin-left: 125vh;
    margin-top: -27vh;
    max-width: 70%;
    max-height: 60%;
    /* top: 20vh;
    right: 25vh; */
    
}


input, textarea{
    width: 500px;
    color: rgb(255, 255, 255);
    border: .5px solid rgb(255, 255, 255);
    outline: 0;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    background: transparent;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

button{
    padding: 10px 0;
    color: #ffff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 90px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    

}

button:hover{
    background-color: #0098d4;
    color: black;
    border: black;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.7s;
    
}

.contact-footer{
    text-align: left;
    padding-left: 25vh;
    padding-top: 40.5vh;
}

/***************************** Contact Us Page End *****************************/

/***************************** Photography page start *****************************/

.photo-container-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.photo-container-title{
    font-family: "poppins", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.photo-container-title2{
    font-size: 50px;
    font-weight: 200;
}

.photo_album{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-top: 5vh;
}

.photo_album img{
    width: 100%;
    max-width: 300px;
    height: 350px;
    object-fit: cover;
   
}

.photo_album img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.7s;
}

.photography-footer{
    text-align: left;
    padding-left: 25vh;
    padding-top: 10vh;
}








