*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  


header__image{
    height: 100vh;
    background-image: (rgba(59, 59, 59, 0.397), rgba(0, 0, 0, 0.479)),url(For Individual Project/HomepageImage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    
}